.container {
    margin: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .headerCell {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .cell {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .centered-cell {
    text-align: center;
  }
  
  .cancel-column {
    width: 140px; /* Adjust the width as needed */
  }
  